$baseSize: 16;
$ratio: 2;
$factor: 320/375;
$activeFgColor: #8f2405;
$activeBgColor:#ffda00;
$textColor: #5a5a5a;
$borderColor: #c2c2c2;
$ignoreColor: #f0f0f0;
$lessImportantColor: #b5b5b5;
$greyColor: #f4f4f4;
$errorColor: #e62418;
$highlightColor: #ff994d;
$tipColor: #b3b3b3;
$placeholderColor: #ebebeb;
$redColor: #fd0500;
$activeFgColorDarker: #6e2406;
$activeBgColorDarker: #ebc900;
$helpColor: #c0c0c0;
$borderRadius: 10;
